%{ for ns in namespaces ~}
---
kind: Secret
apiVersion: v1
metadata:
  name: ${name}
  namespace: ${ns}
data:
  ".dockerconfigjson": ${quay_auth_encoded}
type: kubernetes.io/dockerconfigjson

%{ endfor ~}
