---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: ${pv_name}
spec:
  capacity:
    storage: ${capacity}
  csi:
    driver: ${driver}
    volumeHandle: ${efs_volume_handle}
    volumeAttributes:
      encryptInTransit: 'true'
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ${storage_class}
  volumeMode: Filesystem
