---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ${pvc_name}
  namespace: ${namespace}
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: ${capacity}
  volumeName: ${pv_name}
  storageClassName: ${storage_class}
  volumeMode: Filesystem
