%{ for subnet in subnets ~}
---
apiVersion: crd.k8s.amazonaws.com/v1alpha1
kind: ENIConfig
metadata:
 name: ${subnet.az}
spec:
  securityGroups:
    - ${security_group_id}
  subnet: ${subnet.subnet_id}
%{ endfor ~}
