deploy_id = "${WORKSPACE}"
tags = {
  deploy_id             = "${WORKSPACE}"
  CIRCLE_BUILD_URL      = "${CIRCLE_BUILD_URL}"
  CIRCLE_BRANCH         = "${CIRCLE_BRANCH}"
  CIRCLE_JOB            = "${CIRCLE_JOB}"
  CIRCLE_REPOSITORY_URL = "${CIRCLE_REPOSITORY_URL}"
  CIRCLE_BUILD_NUM      = "${CIRCLE_BUILD_NUM}"
}
